{% extends 'site/base.html' %}
{% load staticfiles %}
{% block content %}
  <main class="container">
  	<h3 class="title"> Detalhes do livros</h3>
    	<section id="details">
	        
			
			<label>Registro: </label>{{post.id_livro}}<br/>
			<label>Titulo: </label>{{post.titulo_livro}}<br/>
			<label>Autor: </label>{{post.autor_livro}}<br/>
			<label>Editora: </label>{{post.editora_livro}}<br/>
			<label>Categoria: </label>{{post.categoria_livro}}<br/>
			<label>Descrição:</label><p>{{post.descricao}}</p><br/>
			
			<a href="{% url 'livros.views.alterar' pk=post.pk %}">
				<img src="{% static 'img/update.png' %}" /> Alterar 
			</a>
			<a href="{% url 'livros.views.excluir' pk=post.pk %}">
				<img src="{% static 'img/delete.png' %}" /> Excluir
		</section>		
        
    </main>
{% endblock %}