{% load staticfiles %}
<header id="header">
	<section class="container">
		<a href="{% url 'livros.views.index' %}">
			<img id="img-logo" src="{% static 'img/logo.png' %}">
			<h1 id="title">Biblioteca </h1>
			<h2 id="subtitle">Talismã</h2>
		</a>
		<div id="redes-sociais-header">
			{% include 'site/sociais.html' %}
		</div>	
	</section>	
</header>
<nav id="navigation">
	<ul id="nav" class="container">
		<a href="{% url 'livros.views.adicionar' %}">
			<li>Novo Livro</li>
		</a>
		<a href="{% url 'livros.views.listar' %}">
			<li>Livros</li>
		</a>
	</ul>
</nav>