{% load staticfiles %}
<ul id="redes-sociais">
	<li>
		<a href="http://facebook.com" target="_blank">
			<img src="{% static "img/facebook.png" %}">
		</a>
	</li>
	<li>
		<a href="http://twitter.com" target="_blank">
			<img src="{% static "img/twitter.png" %}">
		</a>
	</li>
	<li>
		<a href="http://plus.google.com" target="_blank">
			<img src="{% static "img/googleplus.png" %}">
		</a>
	</li>
	<li>
		<a href="http://linkedin.com" target="_blank">
			<img src="{% static "img/linkedin.png" %}">
		</a>
	</li>
	<li>
		<a href="http://youtube.com" target="_blank">
			<img src="{% static "img/youtube.png" %}">
		</a>
	</li>
</ul>