{% load staticfiles %}
<ul id="redes-sociais">
	<li>
		<a href="http://facebook.com">
			<img src="{% static "img/facebook.png" %}">
		</a>
	</li>
	<li>
		<a href="http://twitter.com">
			<img src="{% static "img/twitter.png" %}">
		</a>
	</li>
	<li>
		<a href="http://plus.google.com">
			<img src="{% static "img/googleplus.png" %}">
		</a>
	</li>
	<li>
		<a href="http://linkedin.com">
			<img src="{% static "img/linkedin.png" %}">
		</a>
	</li>
	<li>
		<a href="http://youtube.com">
			<img src="{% static "img/youtube.png" %}">
		</a>
	</li>
</ul>